<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
    <section class="text-gray-600 body-font relative">
        <div class="mx-auto flex sm:flex-nowrap flex-wrap h-screen">
            <div class="lg:w-3/5 md:w-1/2 bg-login overflow-hidden sm:mr-10 p-10 flex justify-start relative flex-col text-white">
                <h2 class="text-plugins text-3xl mb-14 mt-16 font-bold mx-auto">Sign Up to Plugin Books</h2>
                <div class="flex mb-6 justify-center lg:mt-12 md:mt-8 sm:mt-4">
                    <input placeholder="Username" type="text" id="name" name="Username" class="bg-login w-9/12 border border-white focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-white py-1 leading-8 transition-colors duration-200 ease-in-out rounded-full pl-9 placeholder-white">
                </div>
                <div class="flex mb-6 justify-center">
                    <input placeholder="Email" type="email" id="name" name="email" class="bg-login w-9/12 border border-white focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-white py-1 leading-8 transition-colors duration-200 ease-in-out rounded-full pl-9 placeholder-white">
                </div>
                <div class="flex mb-6 justify-center">
                    <input placeholder="Password" type="password" id="name" name="email" class="bg-login w-9/12 border border-white focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-white py-1 leading-8 transition-colors duration-200 ease-in-out rounded-full pl-9 placeholder-white">
                </div>
                <a href="./SignIn.html" class="mx-auto px-16 lg:mt-10 md:mt-12 sm:mt-6 text-plugin bg-white py-2 focus:outline-none hover:bg-blue-100 border-solid rounded-3xl text-lg border border-white hover:border-transparent">Sign Up</a>

            </div>
            <div class="lg:w-2/5 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
                <img src="https://res.cloudinary.com/setiyawan/image/upload/v1614352484/plugin/Logo_vuzih9.png" alt="Logo" srcset="" class="mt-16 mx-auto">
                <h3 class="mx-auto text-center lg:text-4xl md:text-2xl sm:text-xl font-bold lg:mt-16 md:mt-10 sm:mt-8">Hello, Pluginers</h3>
                <p class="lg:text-xl md:text-lg lg:mt-16 md:mt-8 sm:text-base sm:mt-6 px-14 text-center">Enter your personal details
                    and start journey with us</p>
                    <a href="./SignIn.html" class="mx-auto px-16 lg:mt-24 md:mt-12 sm:mt-6 text-plugin bg-white py-2 focus:outline-none hover:bg-blue-100 border-solid rounded-3xl text-lg border border-plugin hover:border-plugin">Sign In</a>

                
            </div>
        </div>
    </section>
</body>
</html>